# Introduction to Python : Part 1

## Numeric Types

### Integer Examples

In [20]:
-4 # This is another example, a negative integer

-4

In [21]:
4  # This is an example of a positive integer

4

In [ ]:
5303349374 # This is another example of a large integer

### Floating Point Examples

In [23]:
3.141592653589793 # This is example of a positive floating point number 3.141592653589793

3.141592653589793

In [ ]:
-1.5707963267948966 # This is another example of a negative floating point number

In [ ]:
3453333.456464545345533  # this is a rather large float point number

In [51]:
2e3  # this is a floating point number using scientific notation

2000.0

### Boolean Examples

In [28]:
True # This is an example of a boolen value

True

In [ ]:
False # This is an example of another boolean value

### Complex Number Examples

In [27]:
4.32+5j # This is an example of a complex number

(4.32+5j)

In [26]:
3.14+5j # This is another example of a complex number

(3.14+5j)

In [ ]:
4.323534343+500j

## Sequences

### Examples of Strings

In [ ]:
"This is a string and a great example"

In [ ]:
'This is another example of a string but yet an even better example'

In [ ]:
'''This is aonther way to define a string but used for multiline strings'''

### Examples of Lists

In [ ]:
['physics', 'chemistry', 1997, 2000]

In [ ]:
[1, 2, 3, 4, 5 ];

In [ ]:
["a", "b", "c", "d"]

### Examples of Tuples

In [ ]:
('physics', 'chemistry', 1997, 2000)

In [ ]:
(1, 2, 3, 4, 5 )

In [ ]:
"a", "b", "c", "d"

## Sets

### Examples of Sets

In [ ]:
{'element_3', 'element_1', 'element_2'}

In [ ]:
{"String 1","String 2","String 3"}

In [ ]:
{2,5,4,5,5,5}

### Examples of Frozen Sets

In [ ]:
frozenset(["Frankfurt", "Basel","Freiburg"])

In [ ]:
frozenset(["Denver","Golden","Boulder"])

In [ ]:
frozenset(["Dallas", "Houston","Austin"])

## Mappings

### Example of Dictionaries

In [ ]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [ ]:
tel = {'jack': 4098, 'sape': 4139}

In [ ]:
adjectives = {"cheap","expensive","inexpensive","economical"}

## Functions

### Function Examples

In [50]:
def add_2(num):
    '''return 2 more than num'''
    return num+2

print(add_2(2))

4

In [ ]:
def add_two_numbers(number1,number2):
    '''function with two input parameters both being numbers. Returns the sum of those two numbers'''
    sum = number1+number2
    return sum

sum_of_two_numbers = add_two_numbers(20,40)

# output the added two numbers
print(sum_of_two_numbers)

In [ ]:
def which_number_is_bigger_between_these_two(number1,number2):
    '''Compares both numbers and returns the largest number '''
    if number1 > number2:
        print(number1," is bigger than number2 : ",number2)
    if number2 > number1:
        print(number2," is bigger than number1 : ",number1)
    
# use the function
which_number_is_bigger_between_these_two(20,400)

## Classes

### Class examples

In [ ]:
class Robot:
    pass

In [ ]:
# basic use and how to define a class with the initlization method. 
class Killer_Robot:
    kind  = "Killer Robot" # class variable shared by all instances or created objects
    # when an object is created i.e. x  = Robot("Berry"), the name attribute of the class Robot is then set to equal "Berry"
    # and accessed by x.name, "Berry" would be printed to console. 
    def __init__(self,name):
        self.name = name # instance variable unqiue to each object created. 
        

class Not_a_Killer_Robot():
    kind = "Not a Killer Robot" # <-- class variable, this attribute is immutable 
    def __init__(self,name):
        self.name = name # <-- object/instance variable, this attribute is mutable.

In [ ]:
x = Killer_Robot(self,"Killer Rob")
y =  Not_a_Killer_Robot("Nonkiller Rob")

In [ ]:
x.name
y.name

### Classes for data types i.e. the classes for the data types that we diccussed above

#### Integer Class

In [29]:
int()

0

#### Float Class

In [30]:
float()

0.0

#### Complex Class

In [31]:
complex()

0j

#### String Class

In [32]:
str()

''

#### List Class

In [43]:
list()

[]

#### Tuple Class

In [34]:
tuple()

()

#### Set Class

In [35]:
set()

set()

#### Frozenset Class

In [36]:
frozenset()

frozenset()

#### Dictionary Class

In [37]:
dict()

{}

### Functions to help with classes

#### dir()

In [52]:
dir(dict())

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

#### getattr()

#### hasattr()

#### setattr()

#### delattr()

#### help()

In [13]:
x.name

'name'

## Iteration

### For Loop Examples

In [ ]:
# First for loop example 
for element in range(0,10):
    print("Element number : ",element)

In [ ]:
# Define a list to iterate through it's elements
a_list_to_iterate_through = ["element 1","element 2","element 3","element 4","element 100","element 50000"]
# iterate through list using the print step and for loop
for list_element in a_list_to_iterate_through:
    print(list_element)

### While Loop Examples

In [ ]:
# init and declare the count variable
# as the while increments, the value
# of count increases until it reaches the
# value of 9. Once that happens, the while
# loop stops iterating.
count = 0
while (count < 9):
   print('The count is:', count)
   count = count + 1

print "Good bye!"

In [ ]:
# init and declare the count variable
# as the while increments, the value
# of count increases until it reaches the
# value of 9. Once that happens, the while
# loop stops iterating.
count = 0
while (count < 20):
   print('The count is:', count)
   count = count + 1

print "Good bye!"

### Enumeration Examples

In [ ]:
# define a list to enumerate through 
my_list = ['apple', 'banana', 'grapes', 'pear']
# iterating through my_list
for c, value in enumerate(my_list, 1):
    print(c, value)

In [ ]:
# define a list to enumerate through 
my_list = ['apple', 'banana', 'grapes', 'pear']
counter_list = list(enumerate(my_list, 1))
print(counter_list)

## File Input and Output

### FIle Input and Reading FIle Contents

In [ ]:
# Holds the location of the text file
file_in = open("Who-Are-The-Grateful-Dead.txt")

# to look at the first line of the file, use the readline() method
print(file_in.readline())

# for loop to iterate through the entire file: Who-Are-The-Grateful-Dead.txt
for line in file_in:
    print(line)

In [ ]:
# Holds the location of the text file
file_in = open("alexa_100k.csv")

# to look at the first line of the file, use the readline() method
print(file_in.readline())

# for loop to iterate through the entire file: Who-Are-The-Grateful-Dead.txt
for line in file_in:
    print(line)
    
# clean up your mess and close the file

### File Output and Writing to FIle

In [ ]:
#Lines to be written to a newly created filed 
Lines_Out = ['Monday\n', 'Tuesday\n', 'Wednesday\n', 'Thursday\n', 'Friday\n', 'Saturday\n', 'Sunday\n']
# title of the file
file_name = "Days of the Week.txt"
# First line and title of the file
first_line ="Days of the Week\n"
file_out = open(file_name,"w")
# write the first line
file_out.write(first_line)
# now iterate though each element in the list and write 
# that to file. 
for element_string in Lines_Out:
    # write each string contained in the list Lines_Out
    # and then wrtie them to file
    file_out.write(element_string)
    
# Clean up your mess and close out of the file 
# after you are done with it. 
file_out.close()

## Operators

### Arithmetic Operator Examples

In [ ]:
x = 15
y = 4

# Output: x + y = 19
print('x + y =',x+y)

# Output: x - y = 11
print('x - y =',x-y)

# Output: x * y = 60
print('x * y =',x*y)

# Output: x / y = 3.75
print('x / y =',x/y)

# Output: x // y = 3
print('x // y =',x//y)

# Output: x ** y = 50625
print('x ** y =',x**y)

### Comparison Operator Examples

In [ ]:
x = 10
y = 12

# Output: x > y is False
print('x > y  is',x>y)

# Output: x < y is True
print('x < y  is',x<y)

# Output: x == y is False
print('x == y is',x==y)

# Output: x != y is True
print('x != y is',x!=y)

# Output: x >= y is False
print('x >= y is',x>=y)

# Output: x <= y is True
print('x <= y is',x<=y)

### Assignment Operator Examples

In [ ]:
a = 21
b = 10
c = 0

c = a + b
print("Line 1 - Value of c is ", c)

c += a
print("Line 2 - Value of c is ", c)

c *= a
print("Line 3 - Value of c is ", c)

c /= a 
print("Line 4 - Value of c is ", c) 

c  = 2
c %= a
print("Line 5 - Value of c is ", c)

c **= a
print("Line 6 - Value of c is ", c)

c //= a
print("Line 7 - Value of c is ", c)

### Logical Operator Examples

In [ ]:
x = True
y = False

# Output: x and y is False
print('x and y is',x and y)

# Output: x or y is True
print('x or y is',x or y)

# Output: not x is False
print('not x is',not x)

## Additional Operators Examples (if time allows)

### Bitwise Operator Exampes

In [ ]:
a = 60            # 60 = 0011 1100 
b = 13            # 13 = 0000 1101 
c = 0

c = a & b;        # 12 = 0000 1100
print "Line 1 - Value of c is ", c

c = a | b;        # 61 = 0011 1101 
print "Line 2 - Value of c is ", c

c = a ^ b;        # 49 = 0011 0001
print "Line 3 - Value of c is ", c

c = ~a;           # -61 = 1100 0011
print "Line 4 - Value of c is ", c

c = a << 2;       # 240 = 1111 0000
print "Line 5 - Value of c is ", c

c = a >> 2;       # 15 = 0000 1111
print "Line 6 - Value of c is ", c

### Bitwise Operator Exampes

In [ ]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]

# Output: False
print(x1 is not y1)

# Output: True
print(x2 is y2)

# Output: False
print(x3 is y3)

### Membership Operator Examples

In [ ]:
x = 'Hello world'
y = {1:'a',2:'b'}

# Output: True
print('H' in x)

# Output: True
print('hello' not in x)

# Output: True
print(1 in y)

# Output: False
print('a' in y)

## Debugging Examples